body {
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: gainsboro;
}

.left {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    margin: 0;
    background-image: url(assets/cajeoZhangCambs.jpg);
    width: 30%;
}

.mainBody {
    display: flex;
    flex-direction: column;
    padding-left: 40%;
    align-items: center;
}

.mainText {
    margin-top: 20%;
    font-weight: 600;
}

.memberForm {
    margin-top: 10%;
    margin-bottom: 10%;
}

.formRow {
    display: flex;
}

.formEntry {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: smaller;
}

.logoLocation {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: slategray;
}

#logo {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

#picAttribution {
    margin-left: auto;
    margin-right: auto;
}

#createAcc {
    margin: 10%;
    padding: 10px;
    background-color: slategrey;
    font-weight: 900;
    border-radius: 10px;
}

.loginHi {
    position: absolute;
    top: 40%;
    left: 40%;
}

#att {
    position: absolute;
    bottom: 0%;
}